table, th, td {
    border: 1px solid #F0FFF0;
    border-collapse: collapse;
  }
  tr {
    background-color: #AFEEEE;
  }
  th, td {
    vertical-align: top;
    padding: 5px;
    text-align: left;
  }
  th {
    color: #800080;
  }
  td {
    color: #800080;
  }
  /********************************/